@model IEnumerable<ShopDT.Models.Sanpham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="brand">
    <div class="container">

    </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">

                            <div class="brand_box">
                                <img src="images/@item.Anh" alt="img" />
                                <h3>Giá: <strong class="red">@((int?)item.GiaTien)  VND</strong></h3>
                                <span>@item.TenSanPham</span>
                                <span>@item.MoTa</span>
                                <i><img src="images/star.png" /></i>
                                <i><img src="images/star.png" /></i>
                                <i><img src="images/star.png" /></i>
                                <i><img src="images/star.png" /></i>
                            </div>

                        </div>
                        }
                    </div>
            </div>
        </div>

    </div>
